<?xml version="1.0" encoding="utf-8"?>

<!--
 Copyright (c) 2014 Amlogic, Inc. All rights reserved.

 This source code is subject to the terms and conditions defined in the
 file 'LICENSE' which is part of this source code package.

 Description: manifest
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.droidlogic.dig"
    android:sharedUserId="android.uid.system"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.REBOOT" />
    <uses-permission android:name="android.permission.MASTER_CLEAR" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:process="com.droidlogic.dig"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.RebootActivity"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.WipeActivity"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RestoreSystemActivity"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <receiver android:name=".receiver.DigReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.droidlogic.dig.DATA_CRASH" />
                <action android:name="com.droidlogic.dig.DATA_READ_ONLY" />
                <action android:name="com.droidlogic.dig.SYSTEM_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>